
html,body,#x-root {
    font-size: 16px !important;
}

#x-root {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    margin: auto;
}

#x-content {
    display: grid;
    padding-top: 60px;
    column-gap: 20px;
    margin: auto;

    width: 1440px;

    grid-template-areas: 
            ". h ."
            "l b r"
            "l b r";

    grid-template-columns: 300px 800px 300px;
}

#x-header { grid-area: h; }
#x-leftbar { grid-area: l; }
#x-rightbar { grid-area: r; }
#x-body { grid-area: b; }