/* 

.grid.grid-cols-3.gap-6 * {
  white-space: normal !important;
}



.grid.grid-cols-3.gap-6  {
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 0.5rem !important;
  padding: 0.5rem !important;
  background-color: #0001;

}

.transition-opacity > .w-full > .pb-6.pt-1 > div > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.relative + .my-2\.5 {
  display: none;
}

#dashboard > div.min-h-full.flex-1.flex.flex-col > div {
  max-width: 100%;
  font-size: 0.8em;
}

.md\:bg-background-secondary.rounded > div.px-3.py-2 {
  padding: 0 !important;
}
.md\:bg-background-secondary.rounded {
  background-color: transparent !important;
}

.md\:pr-5.pl-1.md\:pl-7.md\:py-4.mb-3.rounded.transition-all.md\:bg-background-primary.flex.justify-between.gap-x-8.cursor-pointer.relative.overflow-hidden {
  gap: 0.25em !important;
  min-height: 11em !important;
  margin: 0 !important;
}
.md\:pr-5.pl-1.md\:pl-7.md\:py-4.mb-3.rounded.transition-all.md\:bg-background-primary.flex.justify-between.gap-x-8.cursor-pointer.relative.overflow-hidden > div:nth-child(2) {
  width: 100% !important;
}

.h100.text-sm.md\:text-xs.mb\:1.md\:mb-0.uppercase.md\:normal-case.text-text-disabled.flex.items-center {
  display: none;
}

.text-2xl.md\:text-xl.text-text-primary.font-medium.md\:font-normal.mb-2\.5.md\:mb-4.pb-3.md\:p-0.border-b.md\:border-none.border-divider-main {
  display: none;
} */
