
body { --z: 2147483648; opacity: 0; --overlay-color: var(--body-bg); }

#article-show-container
{
    z-index: var(--z) !important;
    position: relative;
}

#page-content-inner > .crayons-layout {
    grid-template-columns: 1fr;
    max-width: 800px !important;
}

:root {
  --content-font-size: 18px !important;
  --content-padding-x: 32px !important;
}

.crayons-layout__sidebar-right,
.crayons-layout__sidebar-left {
    display: none !important;
}