
body { --z: 2147483648; opacity: 0; --overlay-color: var(--background-primary)}

#content,
.toc-container,
#sidebar-quicklinks,
.sidebar-container
{
    z-index: var(--z) !important;
    position: relative;
}

.top-banner,
.article-actions-container {
    display: none !important;
}