
body { --z: 2147483648; opacity: 0; }

#siteTable,
.sitetable,
ul.tabmenu
{
    z-index: var(--z) !important;
    position: relative;
}

div.thing.link:first-child:after,
.commentarea .panestack-title,
.commentarea .menuarea,
.infobar,
.commentarea>div.sitetable:before
{
    display: none !important;
}

#header {
    position: static !important;
}