
body { --z: 2147483648; opacity: 0; }

#mainbar,
#question-header,
#question-header + *
{
    z-index: var(--z) !important;
    position: relative;
}

#question-header + * {
    border: none !important;
}

#content {
    max-width: 800px !important;
    width: 800px !important;
}

#mainbar {
    width: 100% !important;
}

#sidebar,
.ml12,
#post-form,
#left-sidebar,
.js-vote-up-btn,
.js-vote-down-btn,
header.site-header,
#footer
{
    display: none !important;
}